---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
    imgSrc: string;
  };
}

const {
  head: { title, description, imgSrc }
} = Astro.props as Props;

const coverImageUrl = new URL(`${imgSrc}`, Astro.url)
const socialImage = `https://og.pickyzz.dev/${title}.png?theme=light&md=1&fontSize=75px&images=https%3A%2F%2Fpickyzz.dev%2Fassets%2Fimages%2Favatar.png&widths=600&heights=600`;
---

<html lang="en" data-theme="pastel">
  <head>
    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KP5D5J3');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Netlify-cli -->
    <script
      type="text/partytown"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <!-- End Netlify-cli -->
    <!-- Waline comment -->
    <script
      type="text/javascript"
      src="https://unpkg.com/@waline/client@v2/dist/waline.js">
    </script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@waline/client@v2/dist/waline.css"
    />
    <!-- Waline comment end -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="follow, index" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="article:author" content={AppConfig.author} />
    <meta property="og:site_name" content={AppConfig.site_name} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={imgSrc !== undefined ? `${coverImageUrl}` : `${socialImage}`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:creator" content="@p1ckyzz" />
    <meta name="twitter:image" content={imgSrc !== undefined ? `${coverImageUrl}` : `${socialImage}`} />

    <link rel="alternate" type="application/rss+xml" href="/feed" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Cookie -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.6/dist/cookieconsent.css">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KP5D5J3"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <Navbar />

    <slot />

    <Footer />
    <!-- Netlify-cli -->
    <script type="text/partytown">
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', user => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
    <!-- Cookie -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.6/dist/cookieconsent.js">
    </script>
    <script
      type="text/javascript" src="https://cdn.jsdelivr.net/gh/pickyzz/blog-rebuild@main/public/cookies.js">
    </script>
  </body>
</html>
