---
import type { GetStaticPathsOptions } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import { SITE } from "@/config";
import { getNotionPosts, getNotionUniqueTags } from "@/utils/getNotionPosts";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getNotionPosts();
  const tags = await getNotionUniqueTags();
  return tags.flatMap(({ tag, tagName }) => {
    const tagPosts = posts.filter(post => post.data.tags.some(postTag =>
      postTag.toLowerCase().replace(/\s+/g, '-') === tag
    ));
    return paginate(tagPosts, {
      params: { tag },
      props: { tagName },
      pageSize: SITE.postPerPage,
    });
  });
}
const params = Astro.params;
const { tag } = params;
const { page, tagName } = Astro.props;
---

<Layout title={`Tag: ${tagName} | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle={[`Tag:`, `${tagName}`]}
    titleTransition={tag}
    pageDesc={`All the articles with the tag "${tagName}".`}
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul
      class="mx-auto grid max-w-[80vw] grid-cols-1 gap-8 md:max-w-4xl md:grid-cols-2"
    >
      {
        page.data.map(({ data, id }) => (
          <Card href={`/blog/${data.slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
