---
import { slugifyStr } from "@/utils/slugify";
import Datetime from "./Datetime.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  href?: string;
  frontmatter: CollectionEntry<"blog">["data"];
  secHeading?: boolean;
  priority?: "high" | "low";
}

const { href, frontmatter, secHeading = true, priority = "low" } = Astro.props;

const { title, pubDatetime, modDatetime, description, ogImage } = frontmatter;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class:
    "text-white text-[1.1rem] text-center text-lg font-light decoration-dashed",
};
---

<li class="my-6 max-h-[350px]">
  <a
    id="card-url"
    href={href}
    class="decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <div
      class="relative mb-4 flex-shrink-0 overflow-hidden rounded-lg object-cover"
    >
      <img
        class="card-animate h-[13rem] w-[100vw] scale-125 object-cover object-center duration-500 hover:scale-110 md:scale-100 img-loading blurry-load"
        src={ogImage?.src || "/pickyzz-og.png"}
        data-large={ogImage?.src || "/pickyzz-og.png"}
        loading="lazy"
        decoding="async"
        fetchpriority={priority}
        alt={title
          ? `Cover image for blog post: ${title}`
          : "Blog post cover image"}
      />
      <div
        class="absolute bottom-0 left-0 right-0 flex min-h-[35%] items-center justify-center bg-black/75 px-10 py-2"
      >
        {
          secHeading ? (
            <h2 {...headerProps}>{title}</h2>
          ) : (
            <h3 {...headerProps}>{title}</h3>
          )
        }
      </div>
    </div>
    <p class="mb-4 line-clamp-2 h-[3rem] text-center text-base">
      {description}
    </p>
  </a>
  <Datetime
    pubDatetime={pubDatetime}
    modDatetime={modDatetime}
    class="justify-center"
  />
</li>
